<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>D:\Zipped Files\Digitizing Data Web Services - Moses's code\DigitizingDataWebService.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>LedgerLinkClientApiTest</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MSSQL2012" Order="1" Enabled="False">
          <Destination Path="Data Source=TECH-WIN-SERVER;Initial Catalog=ledgerlink;Integrated Security=True;Application Name=EntityFramework" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\MSSQL2012;Initial Catalog=ledgerlink_test;User ID=barclays;Password=ledgerlink" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MSSQL2012_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=.\MSSQL2012;Database=ledgerlink_test;User Id=barclays;Password=ledgerlink;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MSSQL2012-Web.config Connection String">
      <ParameterValue>Data Source=TECH-WIN-SERVER;Initial Catalog=ledgerlink;Integrated Security=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>