@model DigitizingDataAdminApp.Models.AllSingleMeetingProcedures
@using GridMvc.Html
@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewBag.Title = "SingleMeetingDetails";
}

<h4>SingleMeetingDetails</h4>
<div style="width:auto; margin: 0 auto;">
        @Html.Grid(Model.allMeetingData).Columns(columns => 
                    {
                        columns.Add(c => c.memberName).Titled("Name");
                        columns.Add(c => c.isPresent).Titled("Attended");
                        columns.Add(c => c.amountSaved).Titled("Amount Saved");
                        columns.Add(c => c.loanNumber).Titled("Loan Number");
                        columns.Add(c => c.principleAmount).Titled("Amount Taken(Loan)");
                        columns.Add(c => c.finedAmount).Titled("Fines");
                    }).WithPaging(10).Sortable(true)
    </div>