<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="DigitizingDataWebService.DigitizingDataRestfulService" behaviorConfiguration="restful">
       <endpoint address="../DigitizingDataRestfulService.svc" contract="DigitizingDataWebService.IDigitizingDataRestfulService" behaviorConfiguration="web" binding="webHttpBinding"/>
      
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>        
        <behavior name="restful">  
          
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>    
  </system.serviceModel>  
</configuration>